@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

.nav {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  padding: 10px 90px !important;
  background-color: #7a7aff !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) !important;
  z-index: 1000 !important;
  top: 0 !important;
  width: 100% !important;
  position: fixed !important;
  color: #000;
  height: 90px;
  margin-top: -10px;
  border-bottom-right-radius: 100px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav .logo img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.nav .logo h1 {
  margin-top: 10px;
  font-size: 34px;
  font-weight: 500;
  color: #fff;
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center
}

nav .logo h2 {
  display: none !important;
}

.nav-links ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 20px;
}

.nav-links ul li {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.nav-links ul li::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s;
}

.nav-links ul li:hover::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
}

.buttons a {
  padding: 10px 30px;
  border: 0;
  margin-right: 10px;
  font-size: 15px;
  background-color: transparent;
  font-family: 'Poppins';
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #fff;
  transition: 0.5s;
  color: #fff;
  text-decoration: none;
}

.buttons a:hover {
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.117);
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  color: #6868ff;
  transform: scale(110%);
}

.nav h2 {
  display: none !important;
}

/* User Toggle */

.user img {
  width: 60px;
  cursor: pointer;
  margin-top: 10px;
}

.sub-menu-wrap {
  position: absolute;
  right: 5%;
  top: 90%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: -1;
}

.sub-menu-wrap.open-wrap {
  max-height: 400px;
}

.sub-menu {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
  border-radius: 5px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info h1 {
  font-size: 25px;
  font-weight: 700;
}

.user-info img {
  width: 50px;
  margin-right: 20px;
}

.sub-menu hr {
  width: 100%;
  border: 0;
  background-color: #ccc;
  height: 1px;
}

.sub-menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-links p {
  width: 100%;
  transition: 0.4s;
}

.sub-menu-links img {
  width: 40px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
  margin-top: -10px;
}

.sub-menu-links span {
  font-size: 22px;
  transition: transform 0.4s;
}

.sub-menu-links:hover span {
  transform: translateX(5px);
  color: #525252;
}

.sub-menu-links:hover p {
  font-weight: 600;
  color: #525252;
}

/* Main Starts Here */

/* Header Section Starts Hers */

.content-of-main {
  width: 100%;
  height: 100vh;
}

.content-of-main .image {
  background-image: linear-gradient(to left, rgba(4, 45, 248, 0.533), rgba(0, 118, 191, 0.435)), url("./images/inter.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.image h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}

.image p {
  width: 600px;
  text-align: center;
}

.image button {
  padding: 10px 30px;
  outline: 0;
  border: 0;
  color: #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.838);
  cursor: pointer;
  font-weight: 500;
}

.image h1 span {
  color: #6868ff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

/* Content section Starts */

.carousel-item .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  margin-top: 120px !important;
  margin: 0 15px 0 15px;
}

.con2 .content p {
  text-align: center;
  width: 600px;
}

.content img {
  width: 660px;
}

.container .content p {
  text-align: center;
}

.container .content h1 {
  margin-top: 20px;
  font-weight: 300;
}

.container .content button {
  padding: 10px 30px;
  background-color: #fff;
  color: black;
  border-radius: 30px;
  margin-top: 10px;
  border: 1px solid #000;
}

/* Courses Section Starts */

.courses {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.courses .course-card {
  width: 360px;
  height: 250px;
  margin-right: 30px;
  text-align: center;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.117);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: -80px;
  margin-bottom: -90px;
  transition: transform 0.5s;
}

.course-card:hover {
  transform: translateY(-20px);
}

.courses .course-card h1 {
  font-size: 35px;
  font-weight: 600;
  color: #6868ff;
}

.course-card p {
  font-size: 15px;
}

.course-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
}

.course-heading h1 {
  font-size: 50px;
  font-weight: 700;
  color: #7a7aff;
  font-variant: small-caps;
  font-stretch: ultra-expanded;
}

/* Teachers Section Start */

.testimonial-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  color: #007bff;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#teachers {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  color: #7a7aff;
  font-variant: small-caps;
  margin-bottom: -90px;
}

.testimonials .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.inner img {
  width: 600px;
}

.testimonial {
  width: 600px;
  margin-left: 40px;
}

.name {
  font-size: 40px;
  font-weight: 600;
}

.testimonial p {
  font-size: 18px;
}

/* Description section Starts Here */

.square {
  background-image: url("./images/frame.png");
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.157);
  z-index: -1;
}

.borders {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  color: #fff;
  z-index: -1;
}

.borders .content-of-description i {
  font-size: 90px;
}

.content-of-description h1 {
  font-size: 39px;
  font-variant: small-caps;
}

.content-of-description p {
  font-size: 18px;
}

.border-radiuse-2 {
  width: 100%;
  margin-left: -160px;
  z-index: -1;
}

.border-radiuse-2 .blue {
  border-radius: 41% 59% 58% 42% / 85% 49% 51% 15%;
  width: 300px;
  height: 300px;
  background-color: #434394;
  position: absolute;
  bottom: -20px;
  left: -150px;
  z-index: -1;
}

.border-radiuse-2 .white {
  border-radius: 41% 59% 58% 42% / 85% 49% 51% 15%;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  position: absolute;

  bottom: -110px;
  left: -20px;
  z-index: -1;
}

.border-radiuse-2 .blue-top {
  border-radius: 41% 59% 58% 42% / 85% 49% 51% 15%;
  width: 300px;
  height: 300px;
  background-color: #434394;
  position: absolute;
  top: -20px;
  right: -150px;
  z-index: -1;
}

.border-radiuse-2 .white-top {
  border-radius: 21% 79% 39% 61% / 60% 19% 81% 40%;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  position: absolute;
  top: -110px;
  z-index: 1;
  right: -20px;
}

.box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.course-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.courses-description {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}

.courses-description .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Pricing Description Starts */

.pricings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.pricings .pricing {
  background-color: #fafafa;
  width: 300px;
  height: 500px;
  margin-right: 30px;
  cursor: pointer;
  border: 1px solid #7a7aff;
  margin-left: 30px;
  transition: 0.5s;
}

.first-head {
  clip-path: polygon(49% 100%, 100% 60%, 100% 0, 0 0, 0 62%);
  background-color: #6868ff;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
}

.first-head h1 {
  color: #fff;
  font-size: 30px;
  font-family: 500;
  margin-top: 10px;
}

.first-head .icon i {
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 12px;
}

.first-head .price {
  font-size: 30px;
}

.price sup {
  color: rgb(242, 242, 242);
}

.main-pricing-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main-pricing-area ul {
  list-style-type: none;
  margin-left: -30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-pricing-area ul li {
  font-size: 19px;
}

.main-pricing-area button {
  padding: 10px 30px;
  margin-bottom: 20px;
  background-color: #6868ff;
  border-radius: 5px;
  color: #fff;
  border: 0;
}

#active {
  transform: scale(110%);
  margin-left: 20px;
  margin-right: 30px;
}

#active:hover {
  transform: scale(100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
}

.pricing:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
  transform: scale(110%);
}

/* Testimonial Section Starts Here */

.swiper-wrapper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: -1 !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.245);
  overflow: hidden;
  filter: blur(1px);
  border-radius: 5px;
  z-index: -1 !important;
}

.swiper-slide-active {
  filter: blur(0px);
  border-radius: 10px;
  z-index: -1 !important;
}

.swiper-slide img {
  display: block;
  width: 500px;
}

.testimonail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}

.testimonialBox {
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color: #999;
  background-color: #fff;
}

.testimonialBox .quote {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 70px;
  color: #6868ff9d !important;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.imgBx {
  position: relative;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  overflow: hidden;
  margin-right: 10px;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #007bff;
}

.detail h3 span {
  font-size: 12px;
  color: #666;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}

.carousel .teachers-heading {
  font-size: 40px;
  color: #6868ff;
  margin-bottom: -90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonial-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #6868ff;
  margin-bottom: -50px;
}

/* Contact Section Starts Here */


.contact-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact-section::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.contact {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
}

.contact .contactinfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background-color: #6868ff;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.138);

}

.contact-section .contact .contactinfo h2 {
  color: #fff;
  font-size: 29px;
  font-weight: 500;
}

.contact-section .contact .contactinfo .info {
  position: relative;
  margin: 20px 0;
}

.contactinfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  cursor: pointer;
}

.contactinfo .info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

.contactinfo .info li span:nth-child(1) i {
  max-width: 100%;
  color: #fff;
  font-size: 25px;
}

.contactinfo .info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
}


.contactinfo .sci {
  position: relative;
  display: flex;
}

.contactinfo .sci li {
  list-style: none;
  margin-right: 15px;
}

.contactinfo .sci li i {
  font-size: 35px;
  color: #fff;
}


.contact-form {
  position: absolute;
  padding: 70px 50px;
  background-color: #fff;
  width: calc(100% - 150px);
  margin-left: 150px;
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.2);
  padding-left: 250px;
  height: 100%;
}

.contact-form h2 {
  color: #000056;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.contact-form .formBox,
.formBox .inputBx {
  position: relative;
  margin: 0 0 35px 0;
}

.contact-form .formBox,
.formBox .inputBx.w50 {
  width: 47%;
}

.contact-form .formBox,
.formBox .inputBx.w100 {
  width: 100%;
}

.inputBx input,
.inputBx textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
  resize: none;
}


.inputBx textarea {
  max-height: 120px;
}

.inputBx span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}

.inputBx input:focus~span,
.inputBx textarea:focus~span,
.inputBx input:valid~span,
.inputBx textarea:valid~span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  color: #007bff;
}

.inputBx input[type="submit"] {
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
  padding: 10px 0 10px 0;
  width: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.inputBx input[type="submit"]:hover {
  border: 1px solid #007bff;
  color: #007bff;
  background: transparent;
}

/* Footer Starts Here */

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #3586ff;
  min-height: 200px;
  padding: 20px 50px;
  flex-direction: column;
  margin-top: 100px;
}

footer .social-icons,
footer .footer-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 !important;
  flex-wrap: wrap;
}

footer .social-icons li,
footer .footer-menu li {
  list-style: none;
}

footer .social-icons li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}

footer .social-icons li a:hover {
  transform: translateY(-10px);
}

footer .footer-menu li a {
  font-size: 1em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.7;
  transition: 0.2s;
}

footer .footer-menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("./images/wave.png");
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave_03 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_04 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }

}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}


@media (max-width : 320px) {
  .nav {
    width: 320px !important;
    height: 72px;
  }

  .nav .logo h1 {
    font-size: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .nav .logo h1 i {
    margin-left: 20px;
  }

  .menu {
    position: fixed;
    background-color: #007bff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 0px;
    right: 0;
    margin-top: 550px;
    height: 100vh;
    z-index: -1;
    transition: max-width 2s;
  }

  .menu.open-menu {
    max-width: 400px;
  }

  .menu ul {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .menu ul li {
    font-size: 20px !important;
  }


  .nav .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .image h1 {
    font-size: 23px;
    color: #fff;
    text-align: left;
    font-weight: 600;
  }

  .image p {
    width: 315px;
    text-align: center;
    font-size: 14px;
  }

  .image button {
    padding: 6px 19px;
    outline: 0;
    border: 0;
    color: #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.838);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
  }

  .courses .course-card {
    width: 306px;
    height: 278px;
    margin-right: 20px;
    text-align: center;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.117);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -80px;
    margin-bottom: 108px;
    transition: transform 0.5s;
    margin-left: 15px;
  }

  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 503vh;
    flex-direction: column;
  }

  .carousel .teachers-heading {
    font-size: 40px;
    color: #6868ff;
    margin-bottom: -90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
  }

  .testimonials .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    flex-direction: column;
  }

  .inner img {
    width: 302px;
  }

  .name {
    font-size: 30px;
    font-weight: 600;
  }

  .testimonial p {
    font-size: 12px;
    width: 300px;
  }

  .testimonial {
    width: 495px;
    margin-left: 204px;
  }

  .courses {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 110px;
  }

  .course-heading h1 {
    font-size: 35px;
    font-weight: 700;
    color: #7a7aff;
    font-variant: small-caps;
    font-stretch: ultra-expanded;
  }

  .course-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 81px;
  }

  .border-radiuse-2 {
    width: 100%;
    margin-left: -160px;
    z-index: -1;
    display: none;
  }

  .borders .content-of-description i {
    font-size: 50px;
  }

  .content-of-description h1 {
    font-size: 39px;
    font-variant: small-caps;
  }

  .content-of-description p {
    font-size: 14px;
  }

  .content-of-description {
    width: 258px;
  }

  .description {
    margin-top: -1268px;
  }

  .pricings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 271vh;
    flex-direction: column;
  }

  .pricings .pricing {
    background-color: #fafafa;
    width: 264px;
    height: 500px;
    margin-right: 30px;
    cursor: pointer;
    border: 1px solid #7a7aff;
    margin-left: 30px;
    transition: 0.5s;
    margin-bottom: 84px;
  }

  #active {
    transform: scale(110%);
    margin-left: 20px;
    margin-right: 17px;
  }

  .testimonial-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #6868ff;
    margin-bottom: 25px;
    margin-top: 27px;
  }

  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3586ff;
    height: 50px;
    padding: 2px 5px;
    flex-direction: column;
    margin-top: 100px;
  }

  footer .social-icons li,
  footer .menu li {
    list-style: none;
    font-size: 12px;
  }

}

.nav h1 i {
  display: none;
}

.contact-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: none;
}