@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.nav {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  padding: 10px 90px !important;
  background-color: rgb(104, 104, 255) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) !important;
  z-index: 1 !important;
  top: 0 !important;
  width: 100% !important;
  /* margin-bottom: 50px !important; */
  position: sticky !important;
  color: #000;
  font-family: 'Poppins', sans-serif;
  height: 90px;
  margin-top: -10px;
  border-bottom-right-radius: 100px;
}

.main {
  margin-top: -94px !important;
  width: 100%;
}

.nav .logo img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.nav .logo h1 {
  margin-top: 10px;
  font-size: 34px;
  font-weight: 500;
  color: #fff;
}

.nav .line {
  border: 1px solid #ccc;
}

.user img {
  width: 60px;
  cursor: pointer;
  margin-top: 10px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 20px;
}

.nav-links ul li {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
}

.buttons button {
  padding: 10px 30px;
  border: 0;
  /* border: 1px solid #EFF5F5; */
  margin-right: 10px;
  font-size: 15px;
  background-color: transparent;
  font-family: 'Poppins';
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #fff;
}

.buttons button a {
  color: #fff;
  text-decoration: none;
}

.buttons button:hover {
  box-shadow: 0px 0 10px rgba(0, 0, 0, .62);
  border-radius: 20px;
  cursor: pointer;
  transform: scale(110%);
  /* margin-right: 0px; */
  transition: 0.5s;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  z-index: -1;
}


/*------- SideBar Section Starts Here -----------*/

.container .sidebar {
  text-align: center;
}

.sidebar h1 {
  font-size: 35px;
  font-weight: 300;
  margin-top: 20px;
}

.sidebar img {
  width: 340px;
}

/*------- Content Section Starts Here -----------*/

.container .content {
  margin: 0 12px 0 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* width: 1800px; */
  height: 800px;
}

.con2 .content {
  margin-top: 100px;
  text-align: center;
}

.con2 .content p {
  text-align: center;
  width: 600px;
}

.content img {
  width: 620px;
}

.container .content p {
  text-align: center;
  /* margin-top: 20px; */
}

.container .content h1 {
  margin-top: 20px;
  font-weight: 300;
}

.container .content button {
  padding: 10px 30px;
  background-color: #fff;
  color: black;
  border-radius: 30px;
  margin-top: 10px;
  border: 1px solid #000;
}

/*------- Big Card Section Starts Here -----------*/

.big-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 30px 0 30px;
}

.big-card img {
  width: 400px;
}

.card-content {
  width: 500px;
  margin-left: 30px;
  text-align: center;
}

.card-content h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 10px 0 10px 0;
}

.card-content p {
  font-size: 17px;
}

/*------- Phone Section Starts Here -----------*/

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: rgb(104, 104, 255);
  color: #fff;
  padding: 30px;
  /* margin-bottom: 40px; */
}

.phone img {
  width: 400px;
  /* border-radius: 5px; */
}

.phone-content {
  width: 600px;
}

.phone-content h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}


.phone-content p {
  font-size: 17px;
  width: 500px;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
}

.testimonials img {
  width: 400px;
}

.courses-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.courses-offer .course {
  width: 350px;
  /* border-style: ; */
  border: 3px double rgb(104, 104, 255);
  padding: 30px 20px;
  margin: 20px;
  text-align: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 40px;
  margin-top: 40px;
}

.course h1 {
  font-size: 30px;
  font-weight: 300;
}

.course p {
  font-size: 14px;
}

.course button {
  padding: 10px 30px;
  background-color: rgb(104, 104, 255);
  border: none;
  outline: none;
  border: 5px;
  color: #fff;
}

.testimonials .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.crousal-card img {
  width: 400px;
}

.testimonial {
  width: 600px;
  margin-left: 40px;
}

.name {
  font-size: 40px;
}

.testimonial button {
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: rgb(104, 104, 255);
  color: #fff;
  border-radius: 6px;
  transition: 0.5s;
}

.testimonial button:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.contact {
  text-align: center;
  width: 400px;
}

.contact h1 {
  font-size: 35px;
  font-weight: 300;
  margin-top: 20px;
}

.crousal-card h1 {
  font-size: 36px;
  font-weight: 300;
  margin-top: 20px;
}

.crousal-card .font-4 {
  font-size: 16px !important;
  margin-bottom: 10px !important;
}

.crousal-card {
  display: flex;
  align-items: center;
}

.class img {
  width: 400px;
}

.contact img {
  width: 400px;
}

.classdesc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  color: #fff;
  background-color: rgb(104, 104, 255);
}

.classdesc .img-of-desc img {
  width: 400px;
}

.desc-container {
  margin-top: 400px;
}

.classdesc .desc-content {
  width: 500px;
}

.desc-content h1 {
  font-size: 40px;
  font-weight: 300;
}

.desc-content p {
  font-size: 16px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, auto);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services-child {
  width: 350px;
  text-align: center;
  padding: 10px;
  margin: 30px;
  border: 3px double rgb(98, 118, 177);
}

.services-child h1 {
  font-size: 30px;
  font-weight: 300;
}

.services-child p {
  font-size: 14px;
}

.heading h1 {
  text-align: center;
  font-size: 46px;
  font-weight: 300;
  margin-top: 40px;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-side h1 {
  font-size: 36px;
  font-weight: 300;
  margin-left: -40px;
  margin-top: -50px;
}

.plan-side-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.plan-side-row .plan-child {
  width: 600px;
  margin-left: 40px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.plan-side-row h1 {
  font-size: 37px;
  font-weight: 300;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: rgb(104, 104, 255);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Poppins';
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
  border-top-left-radius: 100px;
  margin-left: -10px;
  margin-left: -10px;
  margin-left: -10px;
}

footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .footer-container .sec {
  margin-right: 30px;
}

footer .footer-container .aboutus {
  width: 40%;
}

footer h2 {
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-bottom: 15px;
}

footer h2::before {
  content: ' ';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: rgb(255, 139, 139);
}

footer .footer-container .aboutus p {
  color: #ffff;
}

footer .sci {
  margin-top: 20px;
  display: flex;
  margin-left: -30px;
}

footer .sci li {
  list-style-type: none;
}

footer .sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #ffff;
  color: #6868ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

footer .sci li a .fa-brands {
  /* color: #497174; */
  font-size: 20px;
}

footer .quickLinks {
  position: relative;
  width: 25%;
}

footer .quickLinks ul {
  margin-left: -30px;
}

footer .quickLinks ul li {
  list-style-type: none;
}

footer .quickLinks ul li a {
  color: #EFF5F5;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

footer .quickLinks ul li a:hover {
  color: #fff;
}

footer .contacting {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

footer .contacting .info {
  position: relative;
  margin-left: -30px;
}

footer .contacting .info li {
  display: flex;
  margin-bottom: 16px;
}

footer .contacting .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

footer .contacting .info li span {
  color: #fff;
}

footer .contacting .info li span a {
  color: #EFF5F5;
  text-decoration: none;
}

footer .contacting .info li span a:hover {
  color: #fff;
}

footer .heading {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}

.price-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 40px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basiclevel {
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 40px;
}

.intermediatelevel {
  width: 400px;
  margin-left: 30px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
  cursor: pointer;
  transform: translateY(-5%);
}

.advancelevel {
  width: 400px;
  margin-left: 30px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
  cursor: pointer;
}

.basiclevel:hover {
  transform: translateY(-5%);
  transition: 0.6s;
}

.intermediatelevel:hover {
  transform: translateY(5%);
  transition: 0.6s;
}

.advancelevel:hover {
  transform: translateY(-5%);
  transition: 0.6s;
}

.level {
  background-color: #6868ff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  color: #fff;
  font-size: 20px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
  border-bottom: 1px solid #6868ff;
}

.price h1 {
  font-size: 50px;
  font-weight: 200;
}

.time {
  position: absolute;
  left: 10px;
  background-color: #6868ff;
  padding: 10px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.usd {
  position: absolute;
  right: 10px;
  background-color: #6868ff;
  padding: 10px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.work h1 {
  padding: 10px 30px;
  font-weight: 300;
  font-size: 20px;
  background-color: #6868ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
}

.work ol {
  list-style-type: none;
}

.work ol li {
  margin-bottom: 5px;
}

.work ol li .fa-sharp {
  color: rgb(0, 83, 0);
  margin-right: 10px;
  font-size: 20px;
}

.fa-circle-xmark {
  color: rgb(255, 75, 75) !important;
}

.work button {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border: none;
  outline: none;
  background-color: #6868ff;
  color: #fff;
  margin-bottom: 10px;
}

.icon-ham-burger .fa-solid {
  display: none;
}

.sub-menu-wrap {
  position: absolute;
  right: 5%;
  top: 92%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  z-index: -1;
}

.sub-menu-wrap.open-wrap {
  max-height: 400px;
}

.sub-menu {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info h1 {
  font-size: 25px;
  font-weight: 700;
}

.user-info img {
  width: 50px;
  margin-right: 20px;
}

.sub-menu hr {
  width: 100%;
  border: 0;
  background-color: #ccc;
  height: 1px;
}

.sub-menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-links p {
  width: 100%;
  transition: 0.4s;
}

.sub-menu-links img {
  width: 40px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
  margin-top: -10px;
}

.sub-menu-links span {
  font-size: 22px;
  transition: transform 0.4s;
}

.sub-menu-links:hover span {
  transform: translateX(5px);
  color: #525252;
}

.sub-menu-links:hover p {
  font-weight: 600;
  color: #525252;
}

@media (max-width : 700px) {
  .nav {
    width: 417.6500000000001px !important;
    padding: 10px 10px;
    /* margin-top: 40px; */
    margin-left: -39px;
    display: flex;
    height: 185px;
  }

  .logo h1 {
    font-size: 27px !important;
    width: 300px;
  }

  .nav-links {
    margin-top: -20px;
  }

  .nav-links li a {
    font-size: 13px;
    width: 60px;
  }

  .buttons {
    margin-left: -93px;
  }

  .buttons button {
    padding: 10px 25px;
    border: 0;
    /* border: 1px solid #EFF5F5; */
    margin-right: -31px;
    margin-left: 40px;
    font-size: 15px;
    background-color: transparent;
    font-family: 'Poppins';
    /* border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #fff; */
  }

  .container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 158px;
  }

  .content img {
    width: 337px;
  }

  .nav .buttons a {
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    margin-top: -190px;
    margin-bottom: 40px;
    border-radius: 4px;
    transform: translateY(30%);
    transition: 0.4s;
    margin-left: 20px;
  }

  .icon i {
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    margin-right: -40px;
    margin-left: 17px;
    margin-top: 21px;
    position: relative;
  }

  .container .content {
    margin: -150px 12px -136px 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* width: 1800px; */
    height: 800px;
  }

  .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: rgb(104, 104, 255);
    color: #fff;
    padding: 36px;
    /* margin-bottom: 40px; */
    flex-direction: column;
    width: 377px;
  }

  .nav .logo h1 {
    font-weight: 300;
    font-size: 20px;
    margin-top: 17px;
  }

  .phone img {
    width: 322px;
    /* border-radius: 5px; */
  }

  .phone-content p {
    font-size: 17px;
    width: 286px;
  }

  .phone-content {
    width: 297px;
    margin-left: 11px;
  }

  .testimonials .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    flex-direction: column;
  }

  .testimonials img {
    width: 300px;
  }

  /* .testimonial {
  width: 303px;
  margin-left: -95px;
} */
  .testimonial {
    width: 303px;
    margin-left: 34px;
  }

  .classdesc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 551px;
    color: #fff;
    background-color: rgb(104, 104, 255);
    flex-direction: column;
  }

  .classdesc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 631px;
    color: #fff;
    background-color: rgb(104, 104, 255);
    flex-direction: column;
  }

  .classdesc .desc-content {
    width: 315px;
    margin-top: 20px;
  }

  .sidebar img {
    width: 277px;
  }

  .container .content h1 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 40px;
  }

  .classdesc .img-of-desc img {
    width: 324px;
  }

  .price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .container .content p {
    text-align: center;
    /* margin-top: 20px; */
    font-size: 13px;
  }

  footer {
    position: relative;
    width: 389px;
    height: auto;
    padding: 44px 70px;
    background-color: rgb(104, 104, 255);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Poppins';
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 100px;
}

footer .footer-container .sec {
  margin-right: 130px;
  width: 303px;
}

  footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 301px;
}
  .basiclevel {
    width: 338px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    cursor: pointer;
    margin-left: -1px;
    margin-bottom: 40px;
  }

  .intermediatelevel {
    width: 338px;
    margin-left: 2px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    cursor: pointer;
    transform: translateY(-5%);
  }

  .advancelevel {
    width: 338px;
    margin-left: 2px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    cursor: pointer;
    transform: translateY(-5%);
  }

  .time {
    position: absolute;
    left: 10px;
    background-color: #6868ff;
    padding: 10px;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .usd {
    position: absolute;
    right: 10px;
    background-color: #6868ff;
    padding: 10px;
    width: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .main {
    margin-top: 128px;
  }
}